{% extends 'base.html' %}

{% block content %}

    {% if object %}
        <h1>Edit Movie</h1>
    {% else %}
        <h1>Add Movie</h1>
    {% endif %}
  <form action="" method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
      </table>
    <input type="submit" value="Submit!" class="btn">
  </form>

<script>
  const ensembleEl = document.getElementById('id_is_ensemble');
  M.FormSelect.init(ensembleEl);
  
  const dateEl = document.getElementById('id_release_date');
  M.Datepicker.init(dateEl, {
    format: 'yyyy-mm-dd',
    defaultDate: new Date(),
    setDefaultDate: true,
    autoClose: true
  });
</script>
{% endblock %}
