body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

header {
  color: white;
  background: black;
  display: inline;
}

main {
  flex: 1 0 auto;
}

footer.page-footer {
  padding-top: 0;
  text-align: right;
  background: black;
}

a {
    text-decoration: none;
    color: white;
    font-size: 16px;
}

ul {
    list-style: none;
}

.card-content {
  color: black;
}

.card-content:hover {
  border: solid blue;
  cursor: pointer;
}

.card-content-detail {
  font-size: 16px;
  background: lightblue;
  padding: 0px;
  margin: 0px;
}